<li class="dropdown">
  <a class="dropdown-toggle" id="drop1" role="button" data-toggle="dropdown" href="#">
    Admin Menu
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Edit Admin Profile", edit_admin_registration_path %></li>
    <li><%= link_to "Admin Logout", destroy_admin_session_path, method: :delete %></li>
  </ul>
</li>